a:hover, a:focus {
	color: #dbaf00;
}

.site_logo {
	background: url(../../images/colors/orange/logo.png) no-repeat left 8px;
}
.site_logo:hover {
	color: #dbaf00;
}
.bannercontainer {
	background: url(../../images/colors/orange/slider-bg.jpg) no-repeat center top;
}
.slide_main_bg {
	background: url(../../images/colors/orange/slider-bg.jpg) no-repeat center top;
}
.tp-caption.medium_grey{
	background: url(../../images/colors/orange/tickmark-icon.png) no-repeat left 1px;
}
.tp-caption.button1-s a:hover {
	color: #dbaf00;
}
.site_features_main li:hover {
	border-top: 5px solid #dbaf00;
	border-bottom: 1px solid #c49d00;
	background: #f9f9f9 url(../../images/colors/orange/down-arrow1.png) no-repeat center top;
}
.site_features_main li:hover strong {
	background-color: #dbaf00;
}
.site_features_main li.selected {
	border-top: 5px solid #dbaf00;
	border-bottom: 1px solid #c49d00;
	background: #f9f9f9 url(../../images/colors/orange/down-arrow1.png) no-repeat center top;
}
.site_features_main li.selected strong {
	background-color: #dbaf00;
}
.latest_news a {
	color: #dbaf00;
}
.fresh_works_content h3 {
	background-color: #dbaf00;
}
h2.underline {
	border-bottom: 2px solid #dbaf00;
}
#footer .footer_top_graphic {
	background: url(../../images/colors/orange/footer-bg-top.png) no-repeat center top;
}
#footer .footer_columns {
	background: #dbaf00 url(../../images/colors/orange/footer-bg-bottom.png) no-repeat center top;
}
#content .content_left .our_team_box li strong {
	font-size: 14px;
	color: #dbaf00;
	display: block;
}
.arrows-list-two li {
	background: url(../../images/colors/orange/arrow-04.png) no-repeat left 11px;
}
#content .content_right_sidebar h2 {
	background: #f3f3f3 url(../../images/colors/orange/sidebar-title-arrow.jpg) no-repeat left top;
}
.left-border-box {
	border-left: 5px solid #dbaf00;
}
.sideimg-list li a:hover {
	color: #dbaf00;
}
#site-searchform #searchsubmit{
	background: #dbaf00 url(../../images/site-search-icon.png) no-repeat center 9px;
}
.blog_post h3 a:hover {
	color: #dbaf00;
}
.blog_post a.date {
	background: #dbaf00 url(../../images/down-arrow2.png) no-repeat center top;
}
.blog_post a.date i {
	border-top: 1px solid #e4be25;
	background-color: #c49d00;
}
.button.small.colorchan{
	background-color: #dbaf00;
}
.pricing-tables-helight .title {
	background-color: #c49d00;
	border-top: 3px solid #b28e00;
	border-bottom: 1px solid #e4be25;
}
.pricing-tables-helight .price {
	background-color: #dbaf00;
}
.pricing-tables-helight-two .title {
	background-color: #c49d00;
	border-top: 3px solid #b28e00;
	border-bottom: 1px solid #e4be25;
}
.pricing-tables-helight-two .price {
	background-color: #dbaf00;
}
html ul.tabs li.active, html ul.tabs li.active a,  html ul.tabs li.active a:hover  { 
	color:#dbaf00;
	border-top: 2px solid #dbaf00;
}
html ul.tabs-two li.active, html ul.tabs-two li.active a,  html ul.tabs-two li.active a:hover  { 
	color:#dbaf00;
}









